<div class="example-container">
  <mat-form-field class="search-town-field">
    <input matInput type="text" placeholder="Town:" [(ngModel)]="town" (oninput)="searchWeather()">
    <button mat-button *ngIf="town" matSuffix mat-icon-button aria-label="Clear" (click)="clearFields()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="searchWeather()">Search</button>

  <div *ngIf="selected_weather?.name">
    <h2>{{selected_weather?.name | uppercase}}</h2>
    <mat-list>
      <mat-list-item>Temp:
        <span *ngIf="(selected_weather.main.temp >= 0)">&nbsp;+&nbsp;</span>
        <span *ngIf="(selected_weather.main.temp < 0)">&nbsp;-&nbsp;</span>
        {{ selected_weather?.main.temp }} °С
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Atm pressure: {{ selected_weather?.main.pressure }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Humidity: {{ selected_weather?.main.humidity }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Cloudiness</mat-list-item>
    </mat-list>
  </div>

</div>
