<h2>{{town | uppercase}}</h2>

<div class="example-container">
  <mat-form-field class="search-town-field">
    <input matInput type="text" placeholder="Town:" [(ngModel)]="town">
    <button mat-button *ngIf="town" matSuffix mat-icon-button aria-label="Clear" (click)="town=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="searchWeather()">Search</button>

  <div *ngIf="town">
  <mat-list>
    <mat-list-item>Temp: {{weatherdata.main['temp']}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Atm pressure: {{weatherdata.main['pressure']}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Humidity: {{weatherdata.main['humidity']}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Cloudiness</mat-list-item>
  </mat-list>
  </div>

</div>
