/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

button.mat-raised-button {
  margin: .5rem !important;
}

.mat-tab-body {
  padding-top: 1rem;
}

.mat-button-toggle-group {
  width: 105px;
  position: absolute !important;
  right: 5px;
  top: 25px;
}

.mat-button-toggle-checked {
  background-color: black;
  color: white;
}
